In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/GoldenSnow-Xue/schulich_data_science/main/MBAN%206110/Datasets/movies.csv')

In [3]:
df

,"name;""rating"";""genre"";""year"";""released"";""score"";""votes"";""director"";""writer"";""star"";""country"";""budget"";""gross"";""company"";""runtime""",Unnamed: 1,Unnamed: 2
0,"The Shining;""R"";""Drama"";1980;""June 13","1980 (United States)"";8.4;927000.0;""Stanley K...",NaN
1,"The Blue Lagoon;""R"";""Adventure"";1980;""July 2","1980 (United States)"";5.8;65000.0;""Randal Kle...",NaN
2,Star Wars: Episode V - The Empire Strikes Back...,"1980 (United States)"";8.7;1200000.0;""Irvin Ke...",NaN
3,"Airplane!;""PG"";""Comedy"";1980;""July 2","1980 (United States)"";7.7;221000.0;""Jim Abrah...",NaN
4,"Caddyshack;""R"";""Comedy"";1980;""July 25","1980 (United States)"";7.3;108000.0;""Harold Ra...",NaN
...,...,...,...
3995,"Birthday Girl;""R"";""Comedy"";2001;""February 1","2002 (United States)"";6.1;25000.0;""Jez Butter...",NaN
3996,"Human Nature;""R"";""Comedy"";2001;""September 12","2001 (France)"";6.4;18000.0;""Michel Gondry"";""C...",NaN
3997,"Made;""R"";""Comedy"";2001;""August 31","2001 (United States)"";6.4;18000.0;""Jon Favrea...",NaN
3998,"One Night at McCool's;""R"";""Comedy"";2001;""April 27","2001 (United States)"";6.1;29000.0;""Harald Zwa...",NaN
3999,"Dr. Dolittle 2;""PG"";""Comedy"";2001;""June 22","2001 (United States)"";4.7;42000.0;""Steve Carr...",NaN